@{
    ViewData["Title"] = "Recipe Book";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h2>Here you'll be able to manage your own little "cook book" :).</h2>
</div>
